.app {
  text-align: center;
}

.logo {
  width: 45px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3% 10%;
  background-color: #00ffff;
  width: 80%;
}
.header button {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 20px;
  color: #7fffd4;
  background-color: #20B2AA;
}
.header button:hover {
  cursor: pointer;
  box-shadow: 0 0 6px 6px #00CED1;
  transition: 0.3s;
}
.header input {
  border-radius: 10px;
  width: 150px;
  height: 30px;
  padding: 10px;
  border: none;
  margin-left: 10px;
}
.header .logoSearch {
  display: flex;
  flex-direction: row;
}

.Main {
  background: linear-gradient(90deg, #b9deed, #efefef);
}
.Main select {
  width: 100px;
  height: 40px;
  border: none;
  background-color: #20B2AA;
  margin: 10px center;
  text-align: center;
  border-radius: 10px;
}

.movieList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.movieCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.movieCard a {
  margin: 50px;
  width: 50%;
  height: 40px;
  background-color: #7fffd4;
  text-decoration: none;
  color: black;
  font-size: large;
  border-radius: 50px;
  text-align: center;
  padding: 0;
}
.movieCard img {
  width: 40%;
  opacity: 0.4;
  margin: 10px;
}
.movieCard img:hover {
  width: 50%;
  opacity: 1;
}
.movieCard h1 {
  font-size: 20px;
  width: 300px;
  padding: 0;
}
.movieCard button {
  width: 40%;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: #00ffff;
  color: #008080;
  font-weight: 600;
}
.movieCard button:hover {
  cursor: pointer;
  box-shadow: 0 0 6px 2px #00CED1;
  transition: 0.3s;
}

.movie-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 250px;
}

.movieDetails p {
  text-align: center;
  width: 50%;
}

.loader {
  width: 48px;
  height: 48px;
  border: 2px solid #ff0000;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  -webkit-animation: rotation 1s linear infinite;
          animation: rotation 1s linear infinite;
  margin-top: 30%;
}

.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #FF3D00;
  width: 6px;
  height: 6px;
  transform: translate(150%, 150%);
  border-radius: 50%;
}

.loader::before {
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  transform: translate(-150%, -150%);
}

@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.go-up {
  display: none;
}

.show {
  display: inline;
  position: fixed;
  width: 150px;
  height: 30px;
  border-radius: 50px;
  background: #00ffff;
  border: none;
  right: 0;
}

.modal {
  width: 100px;
  height: 200px;
  background-color: #ff0000;
  display: none;
}

.noErrorMessege {
  display: none;
}

.errorMessege {
  color: #ff0000;
}

.activeButton:disabled {
  display: none;
}

.onLogin {
  display: inline;
  color: #ad2;
}

.offLogin {
  display: none;
}/*# sourceMappingURL=App.css.map */