$turquoise: #00ffff;
$red: #ff0000;
$aquamarine:#7fffd4;
$lightSeaGreenColor:#20B2AA;
$darkTurquoiseColor:#00CED1;
$skyWandererColor:#b9deed;
$superSilverColor:#efefef;
$tealColor:#008080;
$yellowColor:#ad2;
